body {
    font-family: sans-serif;
  }
  
  .calc-text {
    float: right;
    line-height: 1;
    margin-right: 10px;
  }
  
  .empty-block {
    float: left;
    width: 318px;
    height: 50px;
  }
  
  .c-pad {
    margin: 3px 3px;
    width: 100px;
    height: 50px;
  }
  
  .oper-pad {
    margin: 3px 3px;
    width: 100px;
    height: 50px;
  }
  
  .zero-pad {
    margin: 3px 3px;
    width: 206px;
    height: 50px;
  }
  .number-pad {
    margin: 3px 3px;
    width: 100px;
    height: 50px;
  }
  